#include <windows.h> 
1 VERSIONINFO
FILEVERSION 9,1,0,0
PRODUCTVERSION 9,1,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "080404E4"
    {
      VALUE "CompanyName", "ChZL"
      VALUE "FileVersion", "9.1.0.0"
      VALUE "FileDescription", "dawn算法压缩工具命令行版"
      VALUE "InternalName", "dawn file compression tool.exe"
      VALUE "LegalCopyright", "Copyright by ChZL"
      VALUE "LegalTrademarks", ""
      VALUE "OriginalFilename", "dawn.exe"
      VALUE "ProductName", "Dawn file compression tool"
      VALUE "ProductVersion", "9.1.0.0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0804, 1252
  }
}
